.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transform: scale(0);


    &__content {
        padding: 20px;
        border-radius: 12px;
        background: white;
        // opacity: 1
        // height: 200px;
        // width: 200px;

    }
}

.modal.active {
    transform: scale(1);
    opacity: 0.4;
}
